.navbar {
	overflow: hidden;
	background-color: lightslategrey;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
.navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: 'Cairo', sans-serif;
	font-size: 15px;
}
.navbar a:hover {
	opacity: 0.5;
}
body, html {
	min-height: 100%;
	margin: 0px;
	background-image: url("whitewood.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.caption {
	position: absolute;
	left: 0%;
	top: 30%;
	width: 100%;
	text-align: center;
	color: lightslategrey;
}
span.border {
	background-color: lightslategrey;
	color: white;
	padding: 20px;
	font-size: 25px;
	letter-spacing: 8px;
	font-family: 'Roboto Condensed', sans-serif;
}
.foot {
	background-color: lightslategrey;
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	font-size: 25px;
	text-align: center;
	cursor: pointer;
}

.fa {

	padding: 10px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	color: white;
}
.fa:hover {
	opacity: 0.5;
}
.bio {
	margin: 100px;
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	background-color: lightslategrey;
	padding: 50px;
	font-size: 20px;
	text-align: center;
	position: relative;
	bottom: 150px;
}
